*{
    padding:0;
    margin:0;
}

ul {
    list-style-type: none;
}
.sect {


    height: 33%;
    width:100%;
    line-height:200px;
    font-size:50px;
    border: none; 
    text-align: center;
    vertical-align:middle;
    
}
#ore{
    background-color: #555;
}
#mine{
    background-color: rgb(182, 58, 58);
}
#yore{
    height: 34%;
    background-color: rgb(90, 23, 23);
}